
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&family=Poppins:ital,wght@0,300;1,600&family=Space+Grotesk:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&family=Poppins:ital,wght@0,300;1,600&family=Space+Grotesk:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&family=Oleo+Script:wght@700&family=Poppins:ital,wght@0,300;1,600&family=Space+Grotesk:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&family=Oleo+Script&family=Poppins:ital,wght@0,300;1,600&family=Space+Grotesk:wght@500&display=swap');


body{
    background-color:rgb(202, 226, 226);
}
.Vallie-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap:nowrap;
    max-width: auto;
    max-height: 1in;
}

.Homepageicon {
    font-family:"Space Grotesk" 'sans-serif';
    font-weight: 700;
    font-size: 24pt;
    font-style: italic;
    max-width: 250px;
    max-height: 250px;
    padding: 10px;
    padding-left: 150px;
    margin-top: 10px;
    margin-right:20px;
    margin-left: 15px;
    margin-bottom: 10px;
}

.Homebutton {
    max-width: 300px;
    max-height: 250px;
    padding: 40px;
    margin-top: 10px;
    margin-left: 5px;
    margin-bottom: 5px;
    font-family: "Space Grotesk" 'sans-serif';
    font-weight: 500;
    font-size: 19pt;
    letter-spacing: 0.1em;
    color: #2549D3

}

.Rentbutton {
    max-width: 200px;
    max-height: 20px;
    padding: 35px;
    margin-bottom: 0px;
    font-family:"Space Grotesk" 'sans-serif';
    font-size: 18pt;
    letter-spacing: 0.1em;
}

.Landbutton {
    max-width: 200px;
    max-height: 60px;
    padding: 10px;
    margin: 5px;
    margin-top: 10px;
    font-family: "Space Grotesk" 'sans-serif';
    font-size: 18pt;
    letter-spacing: 0.1em;
}

.Agentbutton {
    max-width: 200px;
    max-height: 250px;
    padding: 30px;
    margin-right: 0px;
    margin-bottom: 0px;
    font-family: "Space Grotesk" 'sans-serif';
    font-size: 18pt;
    letter-spacing: 0.1em;
}

.Contacts {
    max-width:auto;
    max-height: 40px;
    padding: 20px;
    padding-right: 40px;
    margin-bottom: 0px;
    margin-right: 10px;
    font-family: "Space Grotesk" 'sans-serif';
    font-size: 18pt;
    letter-spacing: 0.1em;
}

.Startbutton {
    max-height: 80px;
    max-width: auto;
    background-color: #2549D3;
    border-radius: 10px;
    padding-bottom: 15px;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 80px;
    margin-left: 10px;
    font-family: "Space Grotesk" 'sans-serif';
    color: whitesmoke;
    font-size: 24pt;
    letter-spacing: 0.2ems;
}

hr {
    margin-bottom: 30px;
}

h1 {
    max-width: 380px;
    max-height: 600px;
    margin-right: 20px;
    margin-left: 350px;
    padding: 20px;
    font-family:"Oleo script", 'sans-serif';
    font-size: 32pt;
    font-weight: 700;
    letter-spacing: 00.2ems;
    line-height: 0ems;
    color:#2549D3
}

.learn_more {
    display:flex;
    font-family: "Space Grotesk" 'sans-serif';
    max-width: 270px;
    max-height: 75px;
    margin-top: 110px;
    margin-left: 370px;
}

h14 {
    position: relative;
    background-color:#2549D3;
    font-size: 16pt;
    border-radius: 10px;
   /* margin-right: 30px;*/
    height: fit-content;
    width: fit-content;
    padding: 20px
    
}
.purpose {
    display: flex;
}

p1 {
    max-width:350px;
    max-height: fit-content;
    margin-left: 370px;
    padding: 1px;
    margin-bottom: 10px;
    float: left;
    font-family: "Space Grotesk" 'sans-serif';
    font-size: 18pt;  

}

#img1 {
    position: absolute;
    max-width: 600px;
    max-height: 350px;
    margin-left: 750px;
    margin-top: 0px;
    margin-bottom: 50px;
    padding: 30px;
}

body {
    background-color:rgb(202, 226, 226);

}
.locationprice {
    display: grid;
    max-width: 800px;
    max-height: 80px;
    margin-top: 80px;
    margin-left: 400px;   
    grid-template-columns: 230px 230px 230px 230px ;
    grid-template-rows: 120px 120px 120px 120px;
    border: 2px;
}

/* -100 to css carets-drop-down, also reduce grid-column height*/

.locationprice div:first-child {
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

.locationprice div:last-child {
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}
.locgrid-item {
    background-color:whitesmoke;
    padding: 25px;
    font-family: "Space Grotesk" 'sans-serif';
    font-size: 20pt;
    color: #2549D3;
    font-weight: 700;
    letter-spacing: .2ems;
    text-align: start;
}
.loc_price_content {
    position:absolute;
    display: grid;
    grid-template-columns: 220px 220px 220px 220px;
    grid-template-rows: 60px 60px 60px 60px;
}

.contgrid-item {
    letter-spacing: .5ems;
    padding-left: 510px;
    padding-right: 10px;
    margin-left: 30px;
    font-family: "Oleo script", 'sans-serif';
    color:rgb(132, 137, 138)


}

.Loc_icons {
    position:absolute;
    max-width: 600px;
    color: #2549D3;
    font-size: 28pt;
    margin-top: 87px;
    padding-top: 15px;
}

#caretone {
    position:absolute;
    margin-left: 580px;
}

#caretwo {
    position:absolute;
    margin-left: 850px;

}

#carethree {
    position:absolute;
    margin-left: 1050px;

}

#search_glass {
    position:absolute;
    margin-left: 740px;
    margin-top: 60px;
    font-size: 16pt;
    color: whitesmoke;
}

H5 {
   position:absolute;
    width: 120px;
    text-align: right;
    background-color: #2549D3;
    font-family: "Space Grotesk" 'sans-serif';
    font-size: 16pt;
    color:whitesmoke;
    margin-left: 720px;
    padding: 20px;
    border: 2px;
    border-radius: 20px;
}
/* 
.loc_price {
    display: flex;
    background-color:rgb(247, 247, 233);
    max-width:800px;
    max-height: 20px;
    justify-content:space-between;
    align-items:flex-end;
    white-space: nowrap;
    margin-top: 60px;
    margin-bottom: 80px;
    margin-left: 380px;
    margin-right: 20px;
    padding-bottom: 20px;
    border: 5px;
    border-radius: 30px;
    padding: 50px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14pt;
    color:#2549D3;
    font-weight: 700;
    line-height: normal;
    letter-spacing: .2ems;
}



#carettwo {
    color: #2549D3; font-size: 30pt; margin-bottom: 18px; position: absolute;
    margin-left: 400px;
}

#caretthree {
    color: #2549D3; font-size: 30pt; margin-bottom: 18px; position: absolute;
    margin-left: 620px;
}

H5 {
    width: 105px;
    text-align: right;
    background-color: #2549D3;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16pt;
    color:whitesmoke;
    margin: 0px;
    padding: 20px;
    border: 2px;
    border-radius: 10px;
}
/*
h2, h3, h4 {
    flex-grow: 1;

h2 {
    margin-left: 400px;
    margin-right: 200px;
    padding: 15px;
}

h3 {
    max-width: fit-content;
    text-align:left;
    max-height: 30px;
    margin-right: 200px;
    padding: 15px;
}

h4 {
    margin-right: 800px;
    padding: 15px;
}
*/



.section2 {
    display:block;
    position: relative;
    height: fit-content;
    top:20vh;
    justify-content: center;
}

.section2 h {
    font-family: "Space Grotesk" 'sans-serif'; 
    font-size: 24pt;
    color: #2549D3;
    font-weight: 700;
    position: relative;
    left: 20vw;

}

#how-it-works {
    font-family: "Space Grotesk" 'sans-serif';
    color: #2549D3;
    font-size: 24pt;
    font-weight: 700;
}
.row {
    text-align: center;
    box-sizing: border-box;
    margin: 5px;

}

.row p {
    font-family: 'Courier New', Courier, monospace;
    font-size: 16pt;
    color:rgb(132, 137, 138)
}


.logistics {
    display: flex;
    flex-direction: row;
    justify-items: center;
    width: auto;
    /* justify-content: center; */
    /* width: 900px; */
    position: relative;
    left: 22vw;
    top: 3vh;
    /* align-content: center; */
}


.row h {
    box-sizing: border-box;
    font-family: "Space Grotesk" 'sans-serif';
}
.wrapper {
    padding: 10px;
    background-color: rgb(240, 240, 240);
    box-sizing: content-box;
    margin: 3px;
    width: 280px;
    height:300px;
}

#logh {
    position: inherit;
    display: block;
    text-align: center;
    font-family: "Space Grotesk" 'sans-serif';
    color: black;
    font-size: 15pt;
 
}


/* .logistics h {
    box-sizing: border-box;
    font-family: "Space Grotesk" 'sans-serif';
    position: relative;
    font-size: 22px;
    font-weight: 700;
    top: 10vh;
    left: 23vw;
} */

#logp {
    font-family: "Space Grotesk" 'sans-serif';
    position: inherit;
    display: block;
    color:rgb(132, 137, 138);
    font-size: 16px;
    text-align: center;
}

/* #findhome.logistics, #make-payments, #official {
    box-sizing: border-box;
    width: 150px;
    height: 300px;
} */

#logimg1, #logimg2, #logimg3 {
    position: relative;
    display: block;
    height: 130px;
    width: 90px;
    left: 6vw;
}

.find-home {
    width: 300px;
    height: 180px;
}

.section3 {
    position: relative;
    top: 10vh;
    width: auto;
    max-height: 800px;
}

#sect3img {
    position: inherit;
    margin: 5px;
    left: 22vw;
    width: 500px;
    height:350px;
    float:left;
}


.content-wrapper {
    margin: 5px;
    /* display:flex; */
    padding: 10px;
    /* display: block; */
    /* max-width: 400px; */
    position: relative;
    top: 8vh;
    left: 4vw;

}

.content-wrapper p {
    display: block;
    position: relative;
    left: 20vw;
}

.content-wrapper h {
    display: block;
    position: relative;
}

.checkmarks {
    display: grid;
    grid-template-columns: .2fr .2fr;
    grid-template-rows: .05fr .05fr;
    gap: ;
    /* max-width: 20px;
    max-height: 20px;
    justify-content: space-between; */
    position: inherit;
    top: 8vh;
    left: 25vw;
    font-family: "Space Grotesk", 'sans-serif';
    font-size: 30;
    color: #2549D3;

}

.checkmarks p {
    line-height: 15px;
    color:black;
}


.checkicons {
    font-size: 30;
    color: #2549D3;
    height: 30px;
    line-height: 5px;
    position: inherit;
    top: 0vh;
    left: 23vw;
    display: grid;
    grid-template-columns: .2fr .5fr;
    grid-template-rows: .8fr .8fr;
    gap: 20px;

}

.featured-products{
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
    top: 30vh;
    width: 500px;
    max-height: 500px;
}

.featured-products h {
    display: block;
    text-align: center;
}

.contents {
    display: block;
    text-align: center;
    Position:inherit;
    font-family: "Space Grotesk" 'sans-serif';
    color: black;
    top: 15vh;
}

#featuredimg1, #featuredimg2, #feauturedimg3 {
    width: 300px;
    height: 250px;
}
