.Vallie-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap:nowrap;
    max-width: auto;
    max-height: 1in;
}

.Homepageicon {
    font-family:'Courier New', Courier, monospace;
    font-weight: 1000;
    font-size: 24pt;
    font-style: italic;
    max-width: 250px;
    max-height: 250px;
    padding: 10px;
    padding-left: 200px;
    margin-top: 10px;
    margin-right:50px;
    margin-left: 20px;
    margin-bottom: 10px;
}

.Homebutton {
    max-width: 300px;
    max-height: 250px;
    padding: 40px;
    margin-top: 10px;
    margin-left: 5px;
    margin-bottom: 5px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 600;
    font-size: 19pt;
    letter-spacing: 0.1em;
    color: #2549D3

}

.Rentbutton {
    max-width: 200px;
    max-height: 20px;
    padding: 35px;
    margin-bottom: 0px;
    font-family:'Courier New', Courier, monospace;
    font-size: 18pt;
    letter-spacing: 0.1em;
}

.Landbutton {
    max-width: 200px;
    max-height: 60px;
    padding: 10px;
    margin: 5px;
    margin-top: 10px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 18pt;
    letter-spacing: 0.1em;
}

.Agentbutton {
    max-width: 200px;
    max-height: 250px;
    padding: 40px;
    margin-right: 0px;
    margin-bottom: 0px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 18pt;
    letter-spacing: 0.1em;
}

.Contacts {
    max-width:auto;
    max-height: 40px;
    padding: 20px;
    padding-right: 40px;
    margin-bottom: 0px;
    margin-right: 20px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 18pt;
    letter-spacing: 0.1em;
}

.Startbutton {
    max-height: 80px;
    max-width: auto;
    background-color: #2549D3;
    border-radius: 10px;
    padding-bottom: 15px;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 50px;
    margin-left: 10px;
    font-family: 'Courier New', Courier, monospace;
    color: whitesmoke;
    font-size: 24pt;
    letter-spacing: 0.2ems;
}

hr {
    margin-bottom: 30px;
}

h1 {
    max-width: 380px;
    max-height: 600px;
    margin-right: 20px;
    margin-left: 350px;
    padding: 20px;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 32pt;
    letter-spacing: 00.2ems;
    line-height: 0ems;
    color:#2549D3
}

.learn_more {
    display:flex;
    max-width: 270px;
    max-height: 75px;
    margin-top: 110px;
    margin-left: 370px;
}

h14 {
    position: relative;
    background-color:#2549D3;
    border-radius: 10px;
   /* margin-right: 30px;*/
    height: fit-content;
    width: fit-content;
    padding: 20px
    
}
.purpose {
    display: flex;
}

p1 {
    max-width:350px;
    max-height: fit-content;
    margin-left: 370px;
    padding: 1px;
    margin-bottom: 10px;
    float: left;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18pt;  

}

#img1 {
    position: absolute;
    max-width: 600px;
    max-height: 350px;
    margin-left: 750px;
    margin-top: 0px;
    margin-bottom: 50px;
    padding: 30px;

}